<div id="top-controls">
  <button {{action "rewind"}}>&lt;&lt;</button>
  <button 
    class="{{if audioCtx.playing "red" "green"}}" 
    {{action "togglePlay"}}>{{if audioCtx.playing "stop" "play"}}</button>
  <button class="blue" {{action "pause"}}>pause</button>
  <button {{action "fastForward"}}>&gt;&gt;</button>
</div>

<div id="bottom-controls">
  {{#each audioCtx.fx as |f index|}}
    {{track-control fx=f audioCtx=audioCtx idx=index sliderChanged="sliderChanged"}}
  {{/each}}
</div>

<h1 id="advice">just play...</h1>
